#current-num {
  text-align: right;
  border-left: 1px black solid;
  border-right: 1px black solid;
  border-bottom: 1px black solid;
  margin: 0 3px 10px 3px;
  box-shadow: 1px 1px 1px black;
  height: 50px;
  bottom: 0;
}

/* .display {
  height: 75px;
} */

.calculator-container {
  text-align: center;
  margin: 0 auto;
  width: 150px;
  border: 2px black solid;
}

#last-num {
  text-align: left;
  height: 10px;
  margin: 0 3px;
  border-left: 1px black solid;
  border-right: 1px black solid;
  border-top: 1px black solid;
}

body {
  text-align: center;
}

*{
  border: 1px dotted red;
}
